<section class="mat-typography">
  <h1 class = '.mat-display-1'>CySec Game</h1>
</section>


<div class="left box">
  <button (click)="getNodeData()">Get Nodes</button>
</div>

<mat-slider min="10" max="100" step="1" value="1"></mat-slider>
<h2><br></h2>

<div class="left">
  Palette
  <gojs-palette 
    #myPalette [initPalette]='initPalette'
    [divClassName]='paletteDivClassName'
    [nodeDataArray]='paletteNodeData'
    [linkDataArray]='paletteLinkData'
    [modelData]='paletteModelData'
    (modelChange)='paletteModelChange($event)'
    [skipsPaletteUpdate]='skipsPaletteUpdate'>
  </gojs-palette>
  <section>
    <div class="example-button-row">
      <button mat-raised-button>Analyze</button>
    </div>
  </section>
</div>

<div class="left">
  Diagram
  <gojs-diagram
    #myDiagram
    [initDiagram]='initDiagram'
    [nodeDataArray]='diagramNodeData'
    [linkDataArray]='diagramLinkData'
    [divClassName]='diagramDivClassName'
    [modelData]='diagramModelData'
    [skipsDiagramUpdate]='skipsDiagramUpdate'
    (modelChange)='diagramModelChange($event)'>
  </gojs-diagram>
</div>

<div class="left">
  <app-inspector [selectedNode]='selectedNode' (onFormChange)='handleInspectorChange($event)'></app-inspector>
</div>

<div class="clear left box">
  <h3>Links in app data</h3>
  <ul>
    <li *ngFor="let ld of diagramLinkData">
      Link Key: {{ld.key}}, To: {{ld.to}}, From: {{ ld.from }}
    </li>
  </ul>
</div>

<div class="left box">
  <h3>Nodes in app data</h3>
  <ul>
    <li *ngFor="let nd of diagramNodeData">
      Node Key: {{nd.key}}, Text: {{nd.text}}, Risk Index: {{nd.probability}}
    </li>
  </ul>
</div>

