<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">

<h1 class='title'>CySec Game
  <div class="button-row">
    <select [(ngModel)]="selectedEngine" value="engineOptions[0]">
      <option *ngFor="let engine of engineOptions">{{engine}}</option>
    </select>
    <button (click)="analyzeData()">
      <mat-icon>cached</mat-icon>
      <div class="button-text">Analyze</div>
    </button>
    <button (click)="onDown('json', false)">
      <mat-icon>save</mat-icon>
      <div class="button-text">Save</div>
    </button>
    <button (click)="renderUploadDiv()">
      <mat-icon>upload</mat-icon>
      <div class="button-text">Upload</div>
    </button>
  </div>
</h1>

<br>

<div *ngIf="showUpload" class="uploadDiv">
  <label for="file">Choose File</label>
  <input type="file" id="file" (change)="handleFileInput($event.target.files)">
</div>

<app-inspector *ngIf="selectedEngine==engineOptions[0]" [selectedNode]='selectedNode' (onFormChange)='handleInspectorChange($event)'></app-inspector>
<ad-inspector *ngIf="selectedEngine!=engineOptions[0]" [selectedNode]='selectedNode' (onFormChange)='handleInspectorChange($event)'></ad-inspector>

<div class="page-section">
  <div class="left">
    <gojs-palette *ngIf="selectedEngine==engineOptions[0]" #myPalette [initPalette]='initPalette' [divClassName]='paletteDivClassName'
      [nodeDataArray]='paletteNodeData' [linkDataArray]='paletteLinkData' [modelData]='paletteModelData'
      (modelChange)='paletteModelChange($event)' [skipsPaletteUpdate]='skipsPaletteUpdate'>
    </gojs-palette>
    <ad-tree-palette *ngIf="selectedEngine!=engineOptions[0]"></ad-tree-palette>
  </div>

  <div class="clear left">
    <gojs-diagram #myDiagram [initDiagram]='initDiagram' [nodeDataArray]='diagramNodeData'
      [linkDataArray]='diagramLinkData' [divClassName]='diagramDivClassName' [modelData]='diagramModelData'
      [skipsDiagramUpdate]='skipsDiagramUpdate' (modelChange)='diagramModelChange($event)'>
    </gojs-diagram>
  </div>