<form nz-form [formGroup]='validateForm' (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label>Probability: (1-10)</nz-form-label>
        <nz-form-control nzErrorTip="Probability is required">
            <nz-input-number formControlName="probability"></nz-input-number>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control>
            <button nz-button nzType="primary" nzShape="round">Save Changes</button>
        </nz-form-control>
    </nz-form-item>
</form>