<form (ngSubmit)="onCommitForm()">
    <label>Graph Variables</label>

    <label for="acceptableRiskThreshold">Acceptable Risk Threshold:</label>
    <input name="acceptableRiskThreshold" type="number" id="acceptableRiskThreshold" [(ngModel)]="data.acceptableRiskThreshold" />
    
    <label *ngIf="isDefense" for="defenseBudget">Defense Budget:</label>
    <input *ngIf="isDefense" type="number" name="defenseBudget" id="defenseBudget" [(ngModel)]="data.defenseBudget" />

    <button type="submit">Save</button>
</form>