/* * {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 15%;
  float: left;
  position: absolute;
  margin: 0px 2%;
}


form {
  position: absolute;
  background: #999999;
  border: none;
  outline: none;
  border-radius: 4px;
}

label{
  position: relative;
  width: 100%;
  margin: 5px;
}

button{
  position: relative;
  width: 50%;
  margin: 5% 25%;
  background: #3a3b3c;
  color: #dddfe4;
}

button:hover{
  background-color: #9f9f9f;
}

button:focus{
  background-color: #263851;
}

input {
  position: relative;
  font-weight: 300;
  border-radius: 4px;
  background: white;
  border:none;
  width: 80%;
  height: 30px;
  margin: 0px 10%;
}

input:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 0 1.5px #263851;
}
 */
