<form *ngIf="selectedNode" (ngSubmit)="onCommitForm()">
  <label for="key">Key: (read only)</label>
  <input name="key" id="key" readonly [(ngModel)]="data.key" />
  <label for="probability">Probability: (1-10) </label>
  <input name="probability" key="probability" type="number" max="10" min="1" [(ngModel)]="data.probability" />
  <label *ngIf="_isNotSafePath" for="cost">Cost: ($ to attack) </label>
  <input *ngIf="_isNotSafePath" name="cost" key="cost" type="number" min="1" [(ngModel)]="data.cost" />
  <label for="description">Text: </label>
  <input name="description" key="description" [(ngModel)]="data.text" />
  <button type="submit">Save Changes</button>
</form>

