<form *ngIf="_selectedNode" (ngSubmit)="onCommitForm()">
  <label for="key">Key: (read only)</label>
  <input name="key" id="key" readonly [(ngModel)]="data.key" />

  <label *ngIf="_displayOnLeaf" for="preDefenseProbability">Pre-Defense Probability: (1-10) </label>
  <input *ngIf="_displayOnLeaf" name="preDefenseProbability" key="preDefenseProbability" type="number" max="10" min="1" [(ngModel)]="data.preDefenseProbability" />
  
  <label *ngIf="_displayOnLeaf" for="postDefenseProbability">Post-Defense Probability: (1-10) </label>
  <input *ngIf="_displayOnLeaf" name="postDefenseProbability" key="postDefenseProbability" type="number" max="10" min="1" [(ngModel)]="data.postDefenseProbability" readonly />
    
  <label *ngIf="_displayOnSafe" for="probability">Probability: (1-10) </label>
  <input *ngIf="_displayOnSafe" name="probability" key="probability" type="number" max="10" min="1" [(ngModel)]="data.probability" />

  <label *ngIf="!(_displayOnLeaf || _displayOnSafe || _displayOnDefense)" for="impact">Impact: ($ to system) </label>
  <input *ngIf="!(_displayOnLeaf || _displayOnSafe || _displayOnDefense)" name="impact" key="impact" type="number" min="1" [(ngModel)]="data.impact" />
  
  <label *ngIf="_displayOnDefense" for="defenseCost">Cost to Defend: </label>
  <input *ngIf="_displayOnDefense" name="defenseCost" key="defenseCost" type="number" min="1" [(ngModel)]="data.defenseCost" />

  <label for="description">Text: </label>
  <input name="description" key="description" [(ngModel)]="data.text" />

  <button type="submit">Save Changes</button>
</form>

